.idea/

# git-secret - https://sobolevn.github.io/git-secret/
.gitsecret/keys/random_seed
!*.secret

# git-secret-encrypted
traefik/.env_traefik
traefik/authelia/secrets/JWT_SECRET
traefik/authelia/secrets/SESSION_SECRET
traefik/authelia/users_database.yml
traefik/authelia/secrets/AUTHELIA_NOTIFIER_SMTP_PASSWORD
traefik/authelia/secrets/AUTHELIA_STORAGE_ENCRYPTION_KEY
.env_traefik
.env_authelia
authelia/secrets/NOTIFIER_SMTP_PASSWORD
authelia/secrets/STORAGE_ENCRYPTION_KEY
authelia/secrets/JWT_SECRET
authelia/secrets/SESSION_SECRET
authelia/users_database.yml
authelia/config/users_database.yml
